body{
  font-family: Sunflower;
  background-image: url(background2.png);
}
h1{
  text-align: center;
  border-bottom: 3px solid gray;
  padding: 20px;
  margin: 0;
}

a{
  color: black;
  text-decoration: none;
    font-size: 30px;
}

ul{
  border-right: 3px solid gray;
  padding-right: 20px;
  padding-top: 40px;
  width: 200px;
  margin:0;
}
p{
  font-weight: bold;
}
#grid{
  display: grid;
  grid-template-columns: 300px 1fr;
}
#grid ul{
  padding-left: 33px;
}
#grid #article{
  padding-left: 25px;
  font-size: 20px;
  margin: 0;
}
#killing{
  text-align: center;
  width: 280px;
  height: 180px;
  border: 3px dotted MediumSeaGreen;
  border-radius: 80px / 60px;
}

@media (max-width: 600px){
  #grid{
    display: block;
  }
  #article{
    border:none;
  }
  h1{
    border-bottom: none;
  }
  ul{
    border-right: none;
  }
}
